In [0]:
import pandas as pd

In [0]:
data = pd.Series(list(range(10, 1001)))

In [3]:
print(data.loc[10] + data.loc[23] - data.loc[245] + data.iloc[122])

-70

In [0]:
data = pd.read_csv('data_sf.xls')

In [7]:
data

       Unnamed: 0                Name  ...  GKPositioning GKReflexes
0               0            L. Messi  ...             14          8
1               1   Cristiano Ronaldo  ...             14         11
2               2           Neymar Jr  ...             15         11
3               3              De Gea  ...             88         94
4               4        K. De Bruyne  ...             10         13
...           ...                 ...  ...            ...        ...
12892       13121        J. Lundstram  ...              8          9
12893       13122  N. Christoffersson  ...              5         12
12894       13123           B. Worman  ...              6         13
12895       13124      D. Walker-Rice  ...              8          9
12896       13125           G. Nugent  ...             12          9

[12897 rows x 42 columns]

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12897 entries, 0 to 12896
Data columns (total 42 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       12897 non-null  int64
 1   Name             12897 non-null  object
 2   Age              12897 non-null  int64
 3   Nationality      12897 non-null  object
 4   Club             12897 non-null  object
 5   Value            12897 non-null  int64
 6   Wage             12897 non-null  int64
 7   Position         12897 non-null  object
 8   Crossing         12897 non-null  int64
 9   Finishing        12897 non-null  int64
 10  HeadingAccuracy  12897 non-null  int64
 11  ShortPassing     12897 non-null  int64
 12  Volleys          12897 non-null  int64
 13  Dribbling        12897 non-null  int64
 14  Curve            12897 non-null  int64
 15  FKAccuracy       12897 non-null  int64
 16  LongPassing      12897 non-null  int64
 17  BallControl      12897 non-null  int64
 18  Acceleration     12897 non-null  int64
 19  SprintSpeed      12897 non-null  int64
 20  Agility          12897 non-null  int64
 21  Reactions        12897 non-null  int64
 22  Balance          12897 non-null  int64
 23  ShotPower        12897 non-null  int64
 24  Jumping          12897 non-null  int64
 25  Stamina          12897 non-null  int64
 26  Strength         12897 non-null  int64
 27  LongShots        12897 non-null  int64
 28  Aggression       12897 non-null  int64
 29  Interceptions    12897 non-null  int64
 30  Positioning      12897 non-null  int64
 31  Vision           12897 non-null  int64
 32  Penalties        12897 non-null  int64
 33  Composure        12897 non-null  int64
 34  Marking          12897 non-null  int64
 35  StandingTackle   12897 non-null  int64
 36  SlidingTackle    12897 non-null  int64
 37  GKDiving         12897 non-null  int64
 38  GKHandling       12897 non-null  int64
 39  GKKicking        12897 non-null  int64
 40  GKPositioning    12897 non-null  int64
 41  GKReflexes       12897 non-null  int64
dtypes: int64(38), object(4)
memory usage: 4.1+ MB

In [10]:
data.info()['Dtype']

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12897 entries, 0 to 12896
Data columns (total 42 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       12897 non-null  int64
 1   Name             12897 non-null  object
 2   Age              12897 non-null  int64
 3   Nationality      12897 non-null  object
 4   Club             12897 non-null  object
 5   Value            12897 non-null  int64
 6   Wage             12897 non-null  int64
 7   Position         12897 non-null  object
 8   Crossing         12897 non-null  int64
 9   Finishing        12897 non-null  int64
 10  HeadingAccuracy  12897 non-null  int64
 11  ShortPassing     12897 non-null  int64
 12  Volleys          12897 non-null  int64
 13  Dribbling        12897 non-null  int64
 14  Curve            12897 non-null  int64
 15  FKAccuracy       12897 non-null  int64
 16  LongPassing      12897 non-null  int64
 17  BallControl      12897 non-null  int64
 18  Acceleration     12897 non-null  int64
 19  SprintSpeed      12897 non-null  int64
 20  Agility          12897 non-null  int64
 21  Reactions        12897 non-null  int64
 22  Balance          12897 non-null  int64
 23  ShotPower        12897 non-null  int64
 24  Jumping          12897 non-null  int64
 25  Stamina          12897 non-null  int64
 26  Strength         12897 non-null  int64
 27  LongShots        12897 non-null  int64
 28  Aggression       12897 non-null  int64
 29  Interceptions    12897 non-null  int64
 30  Positioning      12897 non-null  int64
 31  Vision           12897 non-null  int64
 32  Penalties        12897 non-null  int64
 33  Composure        12897 non-null  int64
 34  Marking          12897 non-null  int64
 35  StandingTackle   12897 non-null  int64
 36  SlidingTackle    12897 non-null  int64
 37  GKDiving         12897 non-null  int64
 38  GKHandling       12897 non-null  int64
 39  GKKicking        12897 non-null  int64
 40  GKPositioning    12897 non-null  int64
 41  GKReflexes       12897 non-null  int64
dtypes: int64(38), object(4)
memory usage: 4.1+ MB

TypeError: ignored

In [11]:
data.describe()

         Unnamed: 0           Age  ...  GKPositioning    GKReflexes
count  12897.000000  12897.000000  ...   12897.000000  12897.000000
mean    6605.040862     24.795379  ...      16.950221     17.315965
std     3782.545526      4.872212  ...      17.369297     18.335817
min        0.000000     16.000000  ...       1.000000      1.000000
25%     3357.000000     21.000000  ...       8.000000      8.000000
50%     6622.000000     24.000000  ...      11.000000     11.000000
75%     9876.000000     28.000000  ...      14.000000     14.000000
max    13125.000000     45.000000  ...      90.000000     94.000000

[8 rows x 38 columns]

In [12]:
data.describe(include=['object'])

                Name Nationality             Club Position
count          12897       12897            12897    12897
unique         12326         156              650       27
top     J. Rodríguez     England  Shonan Bellmare       GK
freq               9        1368               30     1641

In [14]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    display(data.describe())

,Unnamed: 0,Age,Value,Wage,Crossing,Finishing,HeadingAccuracy,ShortPassing,Volleys,Dribbling,Curve,FKAccuracy,LongPassing,BallControl,Acceleration,SprintSpeed,Agility,Reactions,Balance,ShotPower,Jumping,Stamina,Strength,LongShots,Aggression,Interceptions,Positioning,Vision,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
count,12897.000000,12897.000000,1.289700e+04,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000
mean,6605.040862,24.795379,2.112449e+06,7517.562224,47.076374,42.876328,50.202528,56.026983,40.295030,52.461735,44.264403,40.321625,50.115143,55.463596,63.109715,63.205629,61.819648,59.430565,63.171978,52.530666,64.285415,61.123052,64.271614,43.971931,53.777933,44.875940,47.166008,50.843374,46.459874,55.942932,45.655811,46.186710,44.386679,17.218345,16.962317,16.797938,16.950221,17.315965
std,3782.545526,4.872212,6.498424e+06,23061.985387,18.043470,19.096935,17.281593,14.740436,17.080687,18.871643,17.781283,16.718481,15.215160,16.692643,15.129988,14.903845,14.858729,8.875832,14.190700,16.975214,11.765467,16.194498,12.550696,18.769749,17.232716,20.188799,19.245882,13.745960,15.479313,11.280631,19.456346,21.172586,20.726546,18.085618,17.349624,16.971411,17.369297,18.335817
min,0.000000,16.000000,0.000000e+00,1000.000000,5.000000,2.000000,4.000000,7.000000,4.000000,4.000000,6.000000,3.000000,9.000000,5.000000,12.000000,12.000000,15.000000,21.000000,16.000000,2.000000,15.000000,12.000000,17.000000,3.000000,11.000000,3.000000,2.000000,10.000000,5.000000,12.000000,3.000000,2.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,3357.000000,21.000000,2.500000e+05,1000.000000,35.000000,28.000000,43.000000,50.000000,28.000000,45.000000,32.000000,29.000000,40.000000,51.000000,55.000000,55.000000,53.000000,54.000000,55.000000,42.000000,57.000000,54.000000,57.000000,29.000000,41.000000,24.000000,35.000000,42.000000,37.000000,49.000000,29.000000,25.000000,23.000000,8.000000,8.000000,8.000000,8.000000,8.000000
50%,6622.000000,24.000000,5.000000e+05,2000.000000,51.000000,45.000000,54.000000,60.000000,41.000000,58.000000,45.000000,39.000000,53.000000,60.000000,66.000000,66.000000,64.000000,59.000000,65.000000,56.000000,65.000000,64.000000,65.000000,47.000000,56.000000,51.000000,52.000000,52.000000,47.000000,56.000000,51.000000,54.000000,51.000000,11.000000,11.000000,11.000000,11.000000,11.000000
75%,9876.000000,28.000000,8.500000e+05,4000.000000,61.000000,59.000000,62.000000,65.000000,53.000000,65.000000,58.000000,52.000000,61.000000,65.000000,74.000000,73.000000,72.000000,65.000000,73.000000,65.000000,72.000000,72.000000,73.000000,59.000000,67.000000,62.000000,61.000000,60.000000,58.000000,63.000000,62.000000,64.000000,62.000000,14.000000,14.000000,14.000000,14.000000,14.000000
max,13125.000000,45.000000,1.185000e+08,565000.000000,93.000000,95.000000,94.000000,93.000000,90.000000,97.000000,93.000000,94.000000,93.000000,96.000000,97.000000,96.000000,96.000000,96.000000,96.000000,95.000000,95.000000,96.000000,97.000000,94.000000,95.000000,92.000000,95.000000,94.000000,91.000000,96.000000,93.000000,93.000000,91.000000,90.000000,92.000000,91.000000,90.000000,94.000000

In [15]:
data['ShortPassing'].describe()

count    12897.000000
mean        56.026983
std         14.740436
min          7.000000
25%         50.000000
50%         60.000000
75%         65.000000
max         93.000000
Name: ShortPassing, dtype: float64

In [19]:
data['Club'].describe()

count               12897
unique                650
top       Shonan Bellmare
freq                   30
Name: Club, dtype: object

In [21]:
data['Position'].describe()

count     12897
unique       27
top          GK
freq       1641
Name: Position, dtype: object

In [22]:
data.Age.mean()

24.795378770256647

In [26]:
data.Composure.isnull().sum()

0

In [27]:
data.ShortPassing.std()

14.740435689517149

In [28]:
data.Wage.sum()

96954000

In [29]:
data.Value.min()

0

In [30]:
data[(data.Age < data.Age.mean())&
        (data.Club == 'FC Barcelona')].Wage.mean()

77454.54545454546

In [32]:
data[data.Wage < data.Wage.mean()].SprintSpeed.mean()

62.41425430560645

In [33]:
data[data.Wage == data.Wage.max()].Position

0    RF
Name: Position, dtype: object

In [35]:
data[data.Nationality == 'Brazil'].Penalties.sum()

22789

In [36]:
round(data[data.HeadingAccuracy > 50].Age.mean(), 2)

25.59

In [43]:
data[(data.Composure > data.Composure.max() * 0.9) & (data.Reactions > data.Reactions.max() * 0.9)].Age.min()

24

In [48]:
data[data.Age == data.Age.max()].Reactions.mean() - data[data.Age == data.Age.min()].Reactions.mean()

22.642857142857146

In [52]:
data[data.Value > data.Value.mean()].Nationality.describe()

count      1747
unique       98
top       Spain
freq        211
Name: Nationality, dtype: object

In [57]:
data[(data.Position == 'GK')&(data.GKReflexes == data.GKReflexes.max())].Wage.mean() / data[(data.Position == 'GK')&(data.GKHandling == data.GKHandling.max())].Wage.mean()

2.765957446808511

In [59]:
data[data.Aggression == data.Aggression.max()].ShotPower.mean() / data[data.Aggression == data.Aggression.min()].ShotPower.mean()

2.076923076923077